* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  padding-top: 160px; 
}



.navbar {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 50px;
}

.navbar a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: black;
  margin: 0 10px;
  padding: 8px;
  border-radius: 8px;
  position: relative;
  background-color: rgb(151, 151, 230);
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: rgb(88, 109, 168);
  color: white;
}

section::before {
  content: "";
  display: block;
  height: 150px; /* Altura total del header fijo */
  margin-top: -120px; /* Desplaza la sección para que no se desplace el espacio extra */
  visibility: hidden;
  pointer-events: none;
}

.section {
  margin-bottom: 500px;
  background-color: white;
  margin: 30px auto;
  max-width: 1000px;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
  color: #003366;
  margin-bottom: 15px;
  text-align: center;
  font-size: 26px;
}

.section p,
.section ul {
  font-size: 17px;
  margin-bottom: 15px;
}

.section ul {
  padding-left: 20px;
  list-style-type: square;
}

.hip {
  border-top: 5px inset rgb(117, 115, 243);
  border-bottom: 5px inset rgb(51, 154, 238);
  border-radius: 10px;
  background-color: rgb(116, 162, 221);
}
