* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  color: #333;
}

header {
  width: 100%;
  background-color: #569ee6;
  color: white;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
main {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
}

.formulario-contacto label {
  margin-top: 15px;
  font-weight: bold;
}

.formulario-contacto input,
.formulario-contacto select,
.formulario-contacto textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.formulario-contacto button {
  margin-top: 20px;
  padding: 10px;
  background-color: #569ee6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.formulario-contacto button:hover {
  background-color: #1a242f;
}

.hip{
   border-top: 5px inset rgb(117, 115, 243);
  border-bottom: 5px inset rgb(51, 154, 238);
  border-radius: 10px;
  background-color: rgb(116, 162, 221);
}

.volver:hover {
  background-color: #4e87c4;
}
